@model ResultAboutDto

<p class="mb-4">@Model.Description</p>
<p class="mb-2"><i class="fa fa-map-marker-alt text-primary mr-3"></i>@Model.Address</p>
<p class="mb-2"><i class="fa fa-envelope text-primary mr-3"></i>@Model.Email</p>
<p class="mb-0"><i class="fa fa-phone-alt text-primary mr-3"></i>@Model.Phone</p>