@model UpdateUserMessageDto

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">
            <h4>Gelen Mesaj Güncelleme</h4>
            <p>Mevcut gelen mesaj bilgilerini güncellemek için aşağıdaki formu kullanabilirsiniz.</p>
            <br />
            <form method="post">
                <input type="hidden" asp-for="Id" readonly>
                <input type="hidden" asp-for="ReceiverId" readonly>

                <div class="form-group d-flex justify-content-end">
                    <label class="control-label" asp-for="CreatedDate">@Model.CreatedDate</label>
                </div>
                <div class="form-group">
                    <label asp-for="SenderId">Gönderen</label>
                    <input type="text" class="form-control" asp-for="SenderId" readonly>
                </div>
                <div class="form-group">
                    <label asp-for="Subject">Konu</label>
                    <input type="text" class="form-control" asp-for="Subject" readonly>
                </div>
                <div class="form-group">
                    <fieldset class="form-group">
                        <label class="control-label" asp-for="Detail">Detay</label>
                        <textarea class="form-control" rows="5" asp-for="Detail" readonly></textarea>
                    </fieldset>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label asp-for="IsRead">
                            <input type="checkbox" asp-for="IsRead">
                            <td>@(Model.IsRead ? "Okundu" : "Okunmadı")</td>
                        </label>
                    </div>
                </div>
                <div>
                    <a class="btn btn-primary btn-outline" asp-area="Admin" asp-controller="Message" asp-action="Inbox"><i class="fa fa-lg fa-long-arrow-left"></i></a>
                    <button type="submit" class="btn btn-success btn-outline pull-right"><i class="fa fa-lg fa-floppy-o"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>