@{
    ViewData["Title"] = "Category";
}

<section class="content container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="chart-box">
                <h4>Kategori Listesi</h4>
                <p>Kategori ile ilgili işlemlerinizi gerçekleştirebilirsiniz.</p>
                <div class="bs-example" data-example-id="simple-table">
                    <table class="table table-bordered">
                        <caption>
                            Kategoriler
                        </caption>
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Kategori Adı</th>
                                <th>Kategori Ürünleri</th>
                                <th>İşlemler</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Mark</td>
                                <td>Otto</td>
                                <td>
                                    <a href="#" class="btn btn-rounded btn-warning"><i class="fa fa-pencil-square-o"></i></a>
                                    <a href="#" class="btn btn-rounded btn-danger"><i class="fa fa-trash-o"></i></a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Jacob</td>
                                <td>Thornton</td>
                                <td>fat</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Larry</td>
                                <td>the Bird</td>
                                <td>twitter</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>