@model UpdateCategoryDto

<div class="col-md-12">
    <div class="chart-box">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Kategori ID</label>
                <input type="text" class="form-control" asp-for="Id" readonly>
            </div>
            <div class="form-group">
                <label class="control-label">Kategori Adı</label>
                <input type="text" class="form-control" placeholder="Kategori adını giriniz" asp-for="Name">
            </div>
            <button type="submit" class="btn btn-default">Güncelle</button>
        </form>
    </div>
</div>