@model CreateCargoCompanyDto

<div class="row">
    <div class="col-md-12">
        <div class="chart-box">
            <h4>Kargo Firma Ekleme</h4>
            <p>Yeni kargo firma eklemek için aşağıdaki formu kullanabilirsiniz.</p>
            <br />
            <form method="post">
                <div class="form-group">
                    <label class="control-label" asp-for="Name">Kargo Firmasının Adı</label>
                    <input type="text" class="form-control" placeholder="Kargo firmasının adını giriniz" asp-for="Name">
                </div>
                <div>
                    <a class="btn btn-primary btn-outline" asp-area="Admin" asp-controller="Cargo" asp-action="CargoCompanyList"><i class="fa fa-lg fa-long-arrow-left"></i></a>
                    <button type="submit" class="btn btn-success btn-outline pull-right"><i class="fa fa-lg fa-floppy-o"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>