<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
        <li class="nav-item sidebar-category">
            <p>Navigation</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Profile" asp-action="Index">
                <i class="mdi mdi-view-quilt menu-icon"></i>
                <span class="menu-title">Profilim</span>
                <div class="badge badge-info badge-pill">2</div>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
                <i class="mdi mdi-view-quilt menu-icon"></i>
                <span class="menu-title">Ana Sayfa</span>
            </a>
        </li>
        <li class="nav-item sidebar-category">
            <p>Components</p>
            <span></span>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-controller="Order" asp-action="Index">
                <i class="mdi mdi-cart menu-icon"></i>
                <span class="menu-title">Siparişlerim</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="~/templates/spica/pages/tables/basic-table.html">
                <i class="mdi mdi-comment-text menu-icon"></i>
                <span class="menu-title">Yorumlarım</span>
            </a>
        </li>
    </ul>
</nav>