<section class="content-header">
    <h1>Basic Tables</h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
        <li class="active"><i class="fa fa-envelope-o"></i> Tables</li>
        <li class="active"><i class="fa fa-bars"></i> Basic Tables</li>
    </ol>
</section>