<section class="content-header">
    <h1>@ViewData["Title"]</h1>
    <ol class="breadcrumb">
        <li><a asp-area="Admin" asp-controller="Dashboard" asp-action="Index"><i class="fa fa-home"></i>Dashboard</a></li>
        <li class="active"><i class="fa fa-envelope-o"></i> Tables</li>
        <li class="active"><i class="fa fa-bars"></i> Basic Tables</li>
    </ol>
</section>