@{
    ViewData["Title"] = "Order";
}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">
            <nav class="breadcrumb bg-light mb-30">
                <a class="breadcrumb-item text-dark" href="#">Home</a>
                <a class="breadcrumb-item text-dark" href="#">Shop</a>
                <span class="breadcrumb-item active">Checkout</span>
            </nav>
        </div>
    </div>
</div>
<!-- Breadcrumb End -->
<!-- Checkout Start -->
<div class="container-fluid">
    <form method="post">
        <div class="row px-xl-5">
            <div class="col-lg-8">
                @await Component.InvokeAsync("_OrderBillingAddressComponentPartial")

                <div class="collapse mb-5" id="shipping-address">
                    @await Component.InvokeAsync("_OrderShippingAddressComponentPartial")
                </div>
            </div>
            <div class="col-lg-4">
                @await Component.InvokeAsync("_ShoppingCartSummaryComponentPartial")

                <div class="mb-5">
                    @await Component.InvokeAsync("_OrderPaymentComponentPartial")

                </div>
                <button class="btn btn-block btn-primary font-weight-bold py-3">Siparişi Tamamla</button>
            </div>
        </div>
    </form>
</div>
<!-- Checkout End -->